<h1>Events</h1>

<table class="table">
  <thead>
  <tr>
    <th>Group</th>
    <th>Events</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @event_groups.each do |event_group| %>
    <tr>
      <td><%= link_to event_group.name, edit_event_group_path(event_group) %></td>
      <td><%= event_group.events.count %></td>
      <td class="text-right"><%= link_to 'X', event_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Event Group', new_event_group_path, class: 'btn btn-primary' %>
</p>