<div class="card">
  <div class="card-header">
    Bye!
  </div>
  <div class="card-body">
    <p class="card-text">Want to login again?</p>
    <%= link_to 'Login', auth_authenticate_path, method: :post, class: "btn btn-primary" %>
  </div>
</div>
